r/* styles.css */

body {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000000;
}

.header {
  background-color: #fafa25;
   padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  color: #000000;
  }
h2 {
  text-align: center;
}

.category-section {
  background: white;
  padding: 25px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.option-card {
  padding: 15px;
  margin: 10px 0;
  border-left: 4px solid #fafa25;
  background-color: #f8f9fa;
}

.nav-button {
  background-color: #28a745;
  color: white;
  padding: 12px 25px;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0;
}

.nav-button2 {
  background-color: #28a745;
  color: white;
  padding: 12px 25px;
  border-radius: 50px;
  display: inline-block;
  margin: 10px 0;
  text-align: right;
}

.subcategory {
  color: #6c757d;
  font-size: 0.9em;
  margin: 15px 0 5px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.subcategory-expl {
  color: #6c757d;
  font-size: 0.9em;
  margin: 15px 0 5px 0;
  letter-spacing: 1px;
}

.nav-container {
  left: 0;
  right: 0;
  background: white;
  z-index: 1000;
  border-bottom: 1px solid #eee;
}

.nav-menu {
  margin: 20 auto;
  display: flex;
  justify-content: space-around;
    padding: 15px 20px;
}

.nav-link {
  text-decoration: none;
  color: #2c3e50;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 20px;
  transition: all 0.3s;
  font-size: 1.1em;
  }

.nav-link:hover {
  background: #f8f9fa;
  transform: translateY(-2px);
}

.nav-link.activo {
  background: #2c3e50;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

/* Ajustar contenido principal para el menú fijo */
.contenedor {
  margin-top: 100px; /* Espacio para el menú fijo */
}
/* que solo se vea el h3 al cargar */
.option-card .panel {
  display: none;
  padding-top: 10px;        /* separador opcional */
}

/* cursor para indicar que es clicable */
.accordion {
  cursor: pointer;
}
